includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route

    ignoreErrors:
        -
            message: '#Unable to resolve the template type#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
